@page "/movie-detail"
@inherits MovieDetailBase

<div class="detail-container">
    <MudText Class="my-5">
        <p class="movie-title-wrapper">Trang chủ > <span class="movie-title">Arkie và Ngày Mặt Trời Mất Tích</span></p>
    </MudText>

    <MudCard Elevation="0" Class="d-flex gap-8">
        <MudImage Src="/assets/images/testposter.jpg" Fluid="true" Style="border-radius: 20px;width:23%" />

        <MudCardContent Class="p-0 flex-1 d-flex flex-column gap-4">
            <p class="title">Movie</p>

            <p class="description">Khi thế giới của cô bị đe dọa bởi mất ánh sáng mặt trời, một cô gái trẻ phải vượt qua nỗi sợ hãi và hành trình đến một thành phố kỳ ảo để cứu cha cô khỏi một nhà khoa học bí ẩn và ngăn chặn sự hủy diệt hành tinh của cô.</p>

            <div class="detail-infos">
                <p class="info"><b class="info-title">Đạo diễn: </b>Director</p>

                <p class="info"><b class="info-title">Diễn viên: </b>Actors</p>

                <p class="info"><b class="info-title">Thể loại: </b>Category</p>

                <p class="info"><b class="info-title">Thời lượng: </b>100 phút</p>

                <p class="info"><b class="info-title">Ngôn ngữ: </b>Tiếng Việt</p>

                <p class="info"><b class="info-title">Ngày khởi chiếu: </b>01/01/2024</p>
            </div>
        </MudCardContent>
    </MudCard>
</div>