.movie-title {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.info-title {
    font-weight: 600;
}

.info-time {
    font-family: Oswald, sans-serif;
    color: #03599d;
}

.booking-button {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase !important;
}
