<MudTabs Rounded="true" Border Class="align-items-center" Style="@($"background-color:{Colors.Grey.Lighten4}")">
     <MudTabPanel Style="@($"background-color:{Colors.Grey.Lighten4}")">
         <ChildContent>
             <div class="list-wrapper">
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
            </div>
        </ChildContent>
        <TabContent>
            <p class="tab-content">Phim sắp chiếu</p>
        </TabContent>
    </MudTabPanel>

     <MudTabPanel Style="@($"background-color:{Colors.Grey.Lighten4}")">
        <ChildContent>
             <div class="list-wrapper">
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
                <div class="w-25 px-8 py-6"><MovieItem /></div>
            </div>
        </ChildContent>

        <TabContent>
            <p class="tab-content">Phim đang chiếu</p>
        </TabContent>
    </MudTabPanel>
</MudTabs>