@page "/login"
@model BetaCinema.ServerUI.Areas.Identity.Pages.Account.LoginModel

<div class="login-container">
    <div class="login-wrapper">
        <div class="title">Đăng nhập</div>
        <div class="form-wrapper">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-input-wrapper">
                    <label asp-for="Input.UserName" class="form-label">Tên đăng nhập</label>
                    <input asp-for="Input.UserName" class="form-control form-control-sm" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-input-wrapper">
                    <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                    <input asp-for="Input.Password" class="form-control form-control-sm" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn auth-button mt-3">Đăng nhập bằng tài khoản</button>
            </form>

            @if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
                      method="post" class="form-horizontal mt-3">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn auth-button external" name="provider" value="@provider.Name"
                                title="Log in using your @provider.DisplayName account">
                            Đăng nhập bằng @provider.DisplayName
                        </button>
                    }
                </form>
            }
        </div>
    </div>
</div>
