@inherits ShowtimesNavigationBarBase

<div class="showtime-navbar-container">
    <MudTabs Rounded="true" Border>
        @foreach (var weekDay in currentWeekDays)
        {
            <MudTabPanel Style="@($"background-color:{Colors.Grey.Lighten4}")">
                <ChildContent>
                    <div class="list-wrapper">
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                        <div class="w-25 px-8 py-6"><ShowtimeItem /></div>
                    </div>
                </ChildContent>

                <TabContent>
                    <p class="tab-content">
                        <span class="tab-content-day">@weekDay.Substring(0,2)</span>@weekDay.Substring(2)
                    </p>
                </TabContent>
            </MudTabPanel>
        }
    </MudTabs>
</div>

