.showtime-navbar-container {
    max-width: 1150px;
    margin: auto;
}

.tab-content-day {
    font-size: 38px;
}

.tab-content {
    font-size: 18px;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}