.movie-title {
    font-family: Oswald, sans-serif;
    font-size: 28px;
    line-height: 1.5;
    text-wrap: wrap;
}

    .movie-title:hover {
        color: #E02222;
        text-decoration: underline;
    }

    .movie-title.first-movie {
        font-size: 32px;
    }

.info {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #555;
}

.info-title {
    font-weight: 600;
}