@page "/users/create"
@using BetaCinema.Domain.Enums;
@inherits CreateFormBase

<h3 class="mb-8">Create New User</h3>

<Form Mode="FormMode.Create" ButtonText="Create" User="@userData" OnValidSubmit="@CreateUser" />