@page "/users/edit/{userId}"
@using BetaCinema.Domain.Enums;
@inherits UpdateFormBase

<h3 class="mb-8">Update User Info</h3>

<Form Mode="FormMode.Update" ButtonText="Update" User="user" OnValidSubmit="@EditUser" />
