<AuthorizeView>
    <Authorized>
        <a href="#">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="/logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <NavLink href="register">Register</NavLink>
        <NavLink href="login">Log in</NavLink>
    </NotAuthorized>
</AuthorizeView>