@inherits LayoutComponentBase

<PageTitle>Beta Cinema</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<MudThemeProvider />
<MudSnackbarProvider />
