@inherits LayoutComponentBase

<PageTitle>Beta Cinema</PageTitle>

<div class="page">
    <header style="z-index:50">
        <AuthorizeMenu />
        <NavigationBar />
    </header>

    <main class="main">
        @Body
    </main>

    <footer style="z-index:50">
        <TheFooter />
    </footer>
</div>