.page {
    position: relative;
    display: flex;
    flex-direction: column
}

header {
    position: sticky;
    z-index: 100
}

main {
    flex: 1;
    background-color: #f5f5f5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}