@using BetaCinema.ServerUI.Features.LocationMenu
@inherits NavigationBarBase

<div class="navbar">
    <MudLink Href="home">
        <MudImage Src="/assets/images/logo.jpg" Height="55" Alt="Beta Cinema Logo" />
    </MudLink>

    @if (IsShowCinemaMenu)
    {
        <LocationMenu />
    }

    <div class="nav-items">
        @foreach (var navItem in navItemList)
        {
            <MudLink Href="@navItem.Href" Underline="Underline.None">
                <p class="nav-item-title">@navItem.Title</p>
            </MudLink>
        }
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudLink Href="admin" Underline="Underline.None">
                    <p class="nav-item-title">Admin</p>
                </MudLink>
            </Authorized>
        </AuthorizeView>
    </div>
</div>