.pre-container {
    border-top: 2px solid #ccc;
    background: #fff;
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 24px 16px 32px;
    font-family: Oswald, sans-serif
}

.item {
}

.section-title {
    display: inline-block;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1;
    text-transform: uppercase;
}
